@import '@/styles/utils/variables';

.cardlist {
  position: relative;
  width: 100%;
  max-width: 18.75rem;
  padding: 1.25rem;
  border: 0.06rem solid $border-color;
  text-align: center;
  &::before {
    content: '';
    position: absolute;
    top: -0.13rem;
    left: -0.13rem;
    right: -0.13rem;
    bottom: -0.13rem;
    z-index: -1;
    background: $border-color;
    transform: skew(2deg, 2deg);
  }
}
