@import '@/styles/utils/variables';
@import '@/styles/utils/mixins';

.wrapper {
  flex-direction: column;
  form {
    display: flex;
    flex-direction: column;
    min-width: 21.25rem;
    max-width: 25rem;
    padding: 1.25rem;
    margin: 0 auto;

    @include devices(lg) {
      width: 100%;
      margin-right: 0;
    }
  }

  .formGroup {
    margin-bottom: 1.875rem;
  }

  label {
    display: flex;
    flex-direction: column;
  }

  input,
  textarea {
    margin: 0.6rem 0;
    padding: 0.8rem;
    border: 0;
    font-size: 1rem;
    &:focus {
      border: 1px solid $border-color;
    }
  }

  textarea {
    min-height: 6.6rem;
  }

  .errorMsg {
    color: $error;
    font-weight: bold;
  }

  .button {
    display: inline-block;
    margin: 0 auto;
    padding: 1rem;
    background-color: $text-color;
    color: $bg-color;
    font-family: $secondary-font;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

    @include devices(lg) {
      margin-right: 0;
    }
  }

  .validationMsg {
    padding: 1.25rem;
    text-align: center;
  }
}
