@import '@/styles/utils/variables';

.title {
  display: inline-block;
  min-width: 6.25rem;
  margin: 0 auto 3.75rem;
  padding: 0.938rem;
  border: 0.06rem solid $border-color;
  font-size: 1.5rem;
  font-family: $secondary-font;
  text-align: center;
  text-transform: uppercase;
}
