/* CSS reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

button {
  all: unset;
}

/* Color */
$bg-color: #22264b;
$border-color: #9fa8a3;
$text-color: #ffe593;
$error: red;

/* Font Sizes */
$primary-font: '--font-playfair-display', serif;
$secondary-font: '--font-abril-fatface', cursive;

/* Font Sizes */
$fs-small: 0.75rem; // line-height: $fs-XL;
$fs-default: 1rem; // line-height: 1.625rem;
$fs-large: 1.75rem; // line-height: 2.813rem;
$fs-XL: 2.625rem; // line-height: 4.188rem;

/* Global */
html,
body {
  font-size: $fs-default;
  line-height: 1.6;
  font-family: $primary-font;
  background-color: $bg-color;
  color: $text-color;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > section {
    min-height: 100vh;
  }

  & > div {
    width: 100%;
  }
}
