@import '@/styles/utils/variables';

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  svg {
    margin-right: 0.625rem;
  }
}

.listitem {
  display: flex;
  align-items: center;
}
