@mixin devices($breakpoint) {

  @if $breakpoint == sm {
    @media only screen and (min-width: 36rem) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media only screen and (min-width: 48rem) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (min-width: 62rem) {
      @content;
    }
  }

  @if $breakpoint == xl {
    @media only screen and (min-width: 80rem) {
      @content;
    }
  }
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($animation) {
  -webkit-animation: #{$animation};
  -moz-animation: #{$animation};
  -ms-animation: #{$animation};
  animation: #{$animation};
}
