/* Color */
$bg-color: #22264b;
$border-color: #9fa8a3;
$text-color: #ffe593;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Playfair+Display&display=swap');

$primary-font: 'Playfair Display', serif;
$secondary-font: 'Abril Fatface', cursive;
