@import '@/styles/utils/variables';

.subtitle {
  display: inline-block;
  margin: 0 auto 1.25rem;
  border-bottom: 3px solid $text-color;
  font-size: 1.25rem;
  font-family: $secondary-font;
  text-align: center;
  text-transform: uppercase;
}
