@import '@/styles/utils/variables';
@import '@/styles/utils/mixins';

.logo {
  cursor: pointer;
  @include devices(lg) {
    &:hover {
      border: 1px solid $border-color;
    }
  }
}

.img {
  width: 3.75rem;
}
