@import '../../styles/utils/variables';

.title {
  font-family: $secondary-font;
  font-size: $fs-XL;
  line-height: $fs-XL;
  text-align: center;
  text-decoration: underline;
  padding: 0 0.625rem;
}
